.main{
   width: 100%;
   height: 70%;
   position: relative;
   background-image: url("../images/about/anton-dmitriev-kBKOaghy8mU-unsplash.jpg");
   background-size:100%,100%;
   padding-bottom: 20%;
   box-shadow: 1px 2px 2px 4px;
   animation:slider 9s infinate linear;
   
}

@keyframes slider{
    0%{background-image: url("../images/about/anton-dmitriev-kBKOaghy8mU-unsplash.jpg");}

    25%{background-image: url("../images/about/project2.jpeg");}

    50%{background-image: url("../images/about/project4.jpg");}
  
}
.mapouter{
   
    text-align:right;
    height:300px;
    width:600px;
    padding-left: 20%;
    padding-top: 5%;
   
}

.footer{
    background-color: rgb(5, 5, 31);
    display: flex;
    color: white;
}
.social{
    color: white;
    padding-top: 2%;
    padding-left:2%
}
.contacts{
    padding-top: 2%;
    padding-left:5%
}
.partners{
    display: flex;
    position: relative;
    
}
.partners >img{
    height: 150px;
    width: 200px;
    padding: 2%;
    
}
.submain{
    display: flex;
    font-size: 120%;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-left: 2%;
    justify-content: space-between;
}
.submain >ul li{
    list-style: none;
   

}
.team{
    background-color: rgb(5, 5, 31);
    padding: 2%;
    color: white;

}
.team >.member >img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.team >.member{
   
    display:inline-block;
    padding: 5%;
  
}

