*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html{
    background: url(/dade-contractors/assets/images/construction-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
:root {
  --primary-color: #fff;
  --background-color: #212121;
  --font: sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.card {
    width: 350px;
    height: 100vh;
    background: #efefef;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    top: 50%;
    overflow: hidden;
}

.card img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.card div h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.card div ul {
    list-style: none;
}

.socials li {
    display: inline-block;
    margin: 20px 10px;
}

.card ul li a {
    color: #2980b9;
    font-size: 20px;
    transition: 0.2s;
}

.card ul li a:hover {
    color: black;
}

.card div h2 {
    margin-top: 25px;
}

.card div p {
    margin: 20px 0 25px 0;
}

.details li {
    padding-bottom: 15px;
}

/* Animation section*/

.card div .btn {
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    transition: 0.2s;
    border: 1px solid black;
}

.card div .btn:hover{
    border-color: #2980b9;
    background: #2980b9;
    color: white;
}

.card:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: #f6e58d;
    bottom: 0;
    right: -10px;
    z-index: -1;
    border-top-left-radius: 100px;
    transition: 0.5s;
}

.card:hover:before {
    transform: scale(10);
}

/* Work Experience */

.workExp {
    position: absolute;
    font-size: 25px;
    left: 500px;
    top: 30px;
}

.body {
    margin-top: 70px;    
    font-family: var(--font);
    display: flex;
    justify-content: center;
}

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

.outer {
    border-left: 2px solid #333;
}

/* Card container */
.workCard {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #efefef;
    color: gray;
    border-radius: 8px;
    max-width: 700px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: #2980b9;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid #2980b9;
}